{% extends "base.html" %}
{% block title %}
urls
{% endblock %}

{% block content %}
  <h1>Сайты</h1>

  <div class="table-responsive">
    <table class="table table-bordered table-hover text-nowrap" data-test="urls">
      <thead>
      <tr>
        <th>ID</th>
        <th>Имя</th>
        <th>Последняя проверка</th>
        <th>Код ответа</th>
      </tr>
      </thead>
      <tbody>
      {% for url_item in url_items %}
      <tr>
        <td>{{ url_item.id }}</td>
        <td>
          <a href="{{ url_for('url_view', id=url_item.id) }}">
            {{ url_item.name }}
          </a>
        </td>
        <td>{{ url_item.last_check|default('', true) }}</td>
        <td>{{ url_item.status_code|default('', true) }}</td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock %}